
extends layout.pug 

block contents 
  style
    include ../public/stylesheets/index.css

  div.purple-box
    img(src='')
    h1 THE
    h1 HELP
    h1 BOOK
    h3 This is a tagline

   
  article
    h1 Welcome
    p Select an option below to help us best serve your needs. 

    a(href='/services') 
      div.btn
        div.btn-copy
          h2 I am a seeking help

    a(href='/provider') 
      div.btn
        div.btn-copy
         h2 I am a service provider or organiation

    a(href='/contributor') 
      div.btn
        div.btn-copy
          h2 I am seeking to contribute