
extends layout.pug 


block contents 
  style
    include ../public/stylesheets/index.css

  div.purple-box
    div.inner-box
      img(src='../public/images/put-a-bird-on-it_preview.png').logo
      h1 THE HELP BOOK
      h3 This is a tagline

    div.search
      include search.pug
      +search
    
  section.primary-options
    div.banner

    h2 How can we help you?
    h3 Common Services

    a(href='/category/mental-health') 
      div.btn-square
        img(src='../public/images/mental-services.png')
        div.btn-copy
          h3 Mental Health Services

    a(href='/category/medica-serivces') 
      div.btn-square
        img(src='../public/images/medical-services.png')
        div.btn-copy
          h3 Medical Health Services

    a(href='/category/dental-services') 
      div.btn-square
        img(src='/public/images/dental-services.png')
        div.btn-copy
          h3 Dental Health Services    

    a(href='/category/basic-services') 
      div.btn-square
        img(src='/public/images/basic-services.png')
        div.btn-copy
          h3 Basic Needs

  section.secondary-options
    h3 More options

    a(href='/category') 
      div.btn-rect
        div.btn-copy
          p Search by category
          span.icon
            i.fa.fa-angle-right

    a(href='/contributor') 
      div.btn-rect
        div.btn-copy
          p Search by agency  

    a(href='/contributor') 
      div.btn-rect
        div.btn-copy
          p I want to update/edit a record

    a(href='/contribute') 
      div.btn-rect
        div.btn-copy
          p I want to add a new record
