//- layout.pug

html 
  head 
    title #{title}
    meta(charset='utf=9' lang='en')
    meta(name='description' content='White Bird Help Book')
    meta(name='viewport' content='width=device-width', 'initial-scale=1.0')
    meta(property='' content='')
    meta(property='' content='')
    meta(property='' content='')
    link(rel='' type='')
    link(rel='stylesheet' 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')


    style
      include ../public/stylesheets/index.css

    div.purple-box
      div.inner-box
        a(href='/')
          img(src='../public/images/put-a-bird-on-it_preview.png').logo
        h1 THE HELP BOOK
        p Building community through wellness and empowerment

      div.search
        include search.pug
        +search
    body 

      block contents
   
    footer
      .footer-wrap
        div.first-foot
          h3 DONATE OR VOLUNTEER
          p 1234 Taylor Street 
          p Eugene, OR 97405
        div.second-foot
          h3 CONTACT US 
          a(href='tel:555-555-5555') (123) 456-7899
          p 7AM-5PM PST M-F
        div.third-foot
          h3 THE HELP BOOK
          p Powered by White Bird Clinic
          div.social
            span            
              i.fa.fa-facebook
            span 
              i.fa.fa-linkedin
            span
              i.fa.fa-twitter

