//- layout.pug

html 
  head 
    title #{title}
    meta(charset='utf=9' lang='en')
    meta(name='description' content='White Bird Help Book')
    meta(name='viewport' content='width=device-width', 'initial-scale=1.0')
    meta(property='' content='')
    meta(property='' content='')
    meta(property='' content='')
    link(rel='' type='')
    link(rel='stylesheet' 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')


    style
      include ../public/stylesheets/index.css

    block head

    body 

      block contents
   
    footer
      ul
        li Donate
        li Volunteer 
        li Contact
