
//- medical.pug

extends layout.pug 

block contents 
  style
    include ../public/stylesheets/index.css

  article
    section
      h2 name
      p address
      p phone
      p hours
      p url
