extends layout.pug 

block contents 
  style
    include ../public/stylesheets/login.css


  div.purple-box
    div.inner-box
      img(src='../public/images/put-a-bird-on-it_preview.png').logo
      h1 THE HELP BOOK
      h3 Building community through wellness and empowerment
  
  article
    section.login
      h2= 'Please Log In'

      form(action='/login' method='POST')
        input(type='text' name='username' placeholder='username')
        input(type='password' name='password' placeholder='password')

        input#submit(type='submit' value='Login') 
