// - mixin used for search bar 

mixin search
  style
    include ../public/stylesheets/search.css
  div.search
    form#search(method='post' action='/service')
      div.search-input
        span.icon
          i.fa.fa-search
        input#search(type='test' name='query' placeholder="Browse Directory" required)