
extends layout.pug 

block contents 
  style
    include ../public/stylesheets/index.css

  article
		form#search(method='post' action='/services')
    	div.form-group
      	label(for='fName') Search: 
      	input#name(type='text' name='query' required value=query)