
$font-sans: 'Roboto', sans-serif;
$font-serif: 'Roboto Slab', sans-serif;
$color1: white;
$color2: white;
$color3: #6A74AF;
$color4: #4a4a4a;
$color5: #D8BEE5;
$color6: #F0F0F0;



$p-height: 24px; 
$p-size: .9em;
$p-padding: 20 20 20 20 ;
$zero-margin: 0 0 0 0;

$small-copy: .8em;
$small-height: 1.2em;


html, body {
	font-family: $font-sans;
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
	background-color: $color6;
}

/* Headings  and font style */

h1 {
  color: $color1;
  font-family: $font-sans;
  font-size: 2.2em;
  font-weight: 500;
}

h2 {
  	font-family: $font-serif;
	color: $color3;
	font-size: 1.7em;
	font-weight: 400;
}

h3 {
  	font-family: $font-sans;
	color: $color4;
	font-size: 1.3em;
    font-weight: 400;

}

p {
	color: $color4;
	font-size: $p-size;
	line-height: $p-height;
}

p.small {
	color: $color1;
	font-size: $small-copy;
	line-height: $small-height;
}

span.icon {
	display: inline;
	position: relative;
	float: right;
	bottom: 130%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



div.purple-box {
	height: 200px;
    background-image: url(../public/images/whitebird-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding: 96 48 96 48;
    h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
    div.inner-box {
      margin: auto;
      width: 400px;
      img.logo {
        width: 50px;
        display:block;
        margin: auto;
      }
    }
}

section.secondary-options {
  background-color: $color1;
	padding-top: 36px;
	padding-bottom: 36px;	
	width: 100%;
	margin: auto;
	h3 {
	  text-align: center;
	  font-weight: 500;
	  font-size: 1.3em;
	}
}

section.primary-options {
	font-family: $font-serif;
	width: 100%;
	padding-top: 20;
	background-color: $color6;
	h1 {
	  text-align: center;
	}
	h2 {
	  text-align: center;
	}
	h3 {
		text-align: center;
	}
}

/* page elements */

a {
	text-decoration: none;
}

div.btn-square {
	width: 19%;
	display: inline-block;
	margin:2.5%;
	vertical-align: top;
	div.btn-copy {
	  height: 20px;
	}
	img {
	  width: 100%;
	  display: block;
	  margin: 0 auto;
	}
	h2 {
	  text-align: center;
	}
}

.container{
margin: auto;
height: 216px;
	text-align: center;
	background-color: $color6;
	padding: 0 0 50 0;
	width: 500px;
}

div.btn-rect {
	width: 400px;
	height: 30px;
	display: block;
	margin: auto;
	border-bottom: .5px solid $color4;
	div.btn-copy {
		text-align: left;

	}
	h2 {
		text-align: center;
	}
}

@media (max-width: 700px){ 

.container{
	height: auto;
}
div.btn-square {
	width: 40%;
	display: inline-block;
    margin: 11% 2.5% 11% 2.5%;
	vertical-align: top;
	div.btn-copy {
	  height: 20px;
	}
	img {
	  width: 100%;
	  display: block;
	  margin: 0 auto;
	}
	h2 {
	  text-align: center;
	}
}

}

@media (max-width: 455px){ 
	div.purple-box {
	height: auto;
      padding: 48 0 48 0 !important;
      div.inner-box {
       width: 200px;
     }
    }
    div.btn-rect {
      width: 250px;
	}
	.container{
	margin:auto;
	text-align: center;
	background-color: $color6;
	padding-bottom: 50px;
	width: 90%
}
}


