
$font-sans: 'Roboto', sans-serif;
$font-serif: 'Roboto Slab', sans-serif;
$color1: white;
$color2: white;
$color3: #6A74AF;
$color4: #4a4a4a;
$color5: #D8BEE5;



$p-height: 24px; 
$p-size: 1em;
$p-padding: 20 20 20 20 ;
$zero-margin: 0 0 0 0;

$small-copy: .8em;
$small-height: 1.2em;


html, body {
	font-family: $font-sans;
	margin: 0;
	padding: 0;
	min-width: 100%;
	background-color: $color3;
}

/* Headings  and font style */

h1 {
  color: $color1;
  font-family: $font-sans;
  font-size: 2.2em;
  font-weight: 500;
}

h2 {
  	font-family: $font-serif;
	color: $color3;
	font-size: 1.7em;
	font-weight: 400;
}

h3 {
  	font-family: $font-sans;
	color: $color4;
	font-size: 1.3em;
    font-weight: 400;

}

p {
	color: $color1;
	font-size: $p-size;
	line-height: $p-height;
}

p.small {
	color: $color1;
	font-size: $small-copy;
	line-height: $small-height;
}

/* content layout */ 

body { 
	background-color: $color1;
}

header {
	font-family: $font-sans;
	background-color: $color1;
	height: 75;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		width: 30%;
		margin: 25px 1.5% 0 1.5%;
		text-align: center;
		text-decoration: none;
		a {
			text-decoration: none;
			color: $color4;
		}
	}
}

div.purple-box {
    background: linear-gradient($color3, $color5);
    height: 100%;
    padding: 96 48 96 48;
}
article {
	font-family: $font-serif;
	max-width: 600px;
	margin: auto;
	padding-bottom: 20;
	background-color: $color1;
	h1 {
	  text-align: center;
	}
	h2 {
	  text-align: center;
	}
	h3 {
		text-align: center;
	}
}

/* page elements */

a {
	text-decoration: none;
}

div.btn-square {
	width: 45%;
	height: 150px;
	display: inline-block;
	margin: 2.5% 1.25% 2.5% 1.25%;
	border-radius: 7px;
	img {
		display: block;
		margin: auto;
	}
	h2 {
	  text-align: center;
	}
}

div.btn-rect {
	width: 95%;
	height: 100px;
	display: block;
	margin: 20 2.5% 20 2.5%;
	border-radius: 7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	div.btn-copy {
	  position: relative;
	  float: left;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	h2 {
		text-align: center;
	}
}



@media (max-width: 720px){ 
  article { 
  	width: 90%;
  }
  div.btn {
  	h2 {
    	font-size: 1.5em;
  	}
  }
}