body {
}

div.purple-box {
	height: 200px;
    background-image: url(../public/images/whitebird-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding: 96 48 96 48;
    h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
    div.inner-box {
      margin: auto;
      width: 400px;
      img.logo {
        width: 50px;
        display:block;
        margin: auto;
      }
    }
}


article.single-listing {


	h1 {
	  text-align: center;
	}
	img {
	  width: 100%;
	}
	section {
	    padding: 20;

	}
	table {
	border-collapse: collapse;
	margin:10px;
	  tr {
	    border-bottom: 1px #6a74af solid;
	  }
	  td {
	    border-bottom: .5px #6a74af solid;
	    padding: 10px;
	  }	  
	  td.left {
	    border-bottom: .5px #6a74af solid;
	    padding: 10px;
	  }
	}
}

article.listings {
  h2 {
    text-align: center;
  }
  width: 400px;
  margin: auto;

}

section.service {
	background-color: white;
	border-left: 3px #6a74af solid;
	margin: 10 0 10 0;
	padding: 1 20 1 20;
	h3 {
	  size: 1.2em;
	  font-weight: 500;
	}
	span.icon {
	float:left;
	}
	p {
	  padding-left: 25px;
	}
}

article.single-listing {
	width: 400px;
	background-color: white;
	margin: auto;
}

div.left {
    vertical-align: top;
	width:60%;
	display: inline-block;
	border-right: 1px solid #6a74af;
	margin-right: 20px;

}

div.right {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	div.email {
	  padding-bottom: 10px;
	  padding-top:15px;

	}
    a.email {
      color: #6a74af;
      line-height: 24px;
	  padding-left: 25px;
	}
	a.web {
	  color: #6a74af;
	  padding-left: 25px;
	}
	div.hours {
	  p {
	    font-size: .8em;
	  }
	}

}