section.login {
	height: 100%;
}

form {
	text-align: center;
}

input {
  margin: 10 auto 10 auto;
  height: 40px;
  background: rgba(181, 181, 181, 0.62);
  border-radius: 20px;
  padding-left: 25px;
  width: 300px;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

input#submit {
  margin: auto;
  height: 40px;
  background: #6A74AF;
  border-radius: 40px;
  padding-left: 0;
  width: 300px;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}