form#search {
	padding: 5px;
	text-align:center;
	width: 100%;
    webkit-appearance: none !important;
}
div.search {
	width: 300px;
	margin: auto;
	position: relative;
	color: #f0f0f0;
    webkit-appearance: none !important;
}
div.search .icon{
	position: absolute;
	color: #6b6b6b;
	top: 33%;
	padding-left: 20px;
}
input#search {
	margin: auto;
	height: 40px;
	background: rgba(181,181,181,0.62);
	border-radius: 40px;
	padding-left: 45px;
	width: 300px;
	color: white;
	font-size: 1em;
	font-family: "Roboto", sans-serif;

}